<div class='col-lg-6'>
  <div class='well'>

 

    
<div class="row">
  <div class="col-md-6">
    <form action="/comics/create">
    <div class="form-group">
      <!-- DISPLAY A TITLE LABEL -->
      <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      <label for="title">Comic Title:</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Enter movie title here">
    </div>
    <div class="form-group">
      <!-- DISPLAY A DESCRIPTION LABEL -->
      <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      <label for="description">Description:</label>
      <input type="text" name="description" class="form-control" id="description" placeholder="Enter description here">
    </div>
    <div class="form-group">
      <!-- DISPLAY AN IMAGE LABEL -->
      <!-- DISPLAY A TEXT FIELD ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      <label for="image">Image:</label>
        <input type="text" name="image_url" class="form-control" id="image_url" placeholder="Enter URL to a comic image">
    </div>
    <div class="actions">
      <!-- DISPLAY A SUBMIT BUTTON WITH A CLASS OF 'btn btn-primary' -->
       <button type="submit" class="btn btn-primary">Create Comic</button>
    </form>
    </div>

  
